version: "3.7"
services:
  postgres_register:
    container_name: postgres_register
    image: postgres:12.4
    environment:
      POSTGRES_USER: register
      POSTGRES_PASSWORD: register
    ports:
      - "5432:5432"

  keycloack_app:
    container_name: keycloack_app
    image: jboss/keycloak:9.0.2
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
    ports:
    - "8180:8080"

  jeager_app:
    container_name: jeager_app
    image: jaegertracing/all-in-one:1.17
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"

  prometheus_app:
    container_name: prometheus_app
    image: prometheus-ifood
    network_mode: "host"

  grafana_app:
    container_name: grafana_app
    image: grafana/grafana:6.5.0
    network_mode: "host"